<div class="header">
    <div class="header-title" (click)="goConfettiGo($event)">Dima <span><img src="../assets/images/rings.png"></span> Gabika</div>
    <div>
        <button class="header-button" routerLink="main">Hlavní strana</button>
        <button class="header-button" routerLink="program">Program</button>
        <button class="header-button" routerLink="accommodation">Ubytování</button>
        <button class="header-button" routerLink="dresscode">Dresscode</button>
        <button class="header-button" routerLink="album">Fotky</button>
    </div>
</div>
<router-outlet></router-outlet>
<div id="default-confetti"></div>
